.address {
  min-height: 210px;
  font-size: 16px;
  .adr_title {
    font-weight: $fw-bold;
    color: $black;
    font-size: $fs-large;
    padding-bottom: 15px;
  }
  .adr_desc {
    display: block;
    padding-bottom: 15px;
  }
  address {
    padding-bottom: 15px;
    span {
      display: block;
    }
  }
  .adr_cell {

  }
}
