@keyframes flash_messages {
  0% { transform: translateY(-110%) }
  5% { transform: translateY(0%) }
  95% { transform: translateY(0%) }
  100% { transform: translateY(-110%) }
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 15px;
  background-color: $white;
  transform: translateY(-110%);
  &.animate {
    animation: 6s flash_messages 0s ;
  }
}
.alert-success {
  background-color: $success;
  color: $white;
}
.alert-danger {
  background-color: $danger;
  color: $white
}
