.article {
  color: $black;
  text-align: justify;
  h2 {
    font-size: 1rem;
    font-weight: $fw-semibold;
    margin-bottom: 5px;
  }
  p {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }

}
