.banner {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: $light;
  transition: background-position 0.3s ease;
  @include media-breakpoint-down(md) {
    background-position: center bottom;
  }
  ._hp & {
    background-image: url("../images/banner_hp.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_hp_m.jpg");
    }
  }
  ._prod & {
    background-image: url("../images/banner_pro.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_pro_m.jpg");
    }
  }
  ._feat & {
    background-image: url("../images/banner_features.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_features_m.jpg");
    }
  }
  ._ps & {
    background-image: url("../images/banner_partnership.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_partnership_m.jpg");
    }
  }
  ._au & {
    background-image: url("../images/banner_about.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_about_m.jpg");
    }
  }
  ._cnt & {
    background-image: url("../images/banner_contact.jpg");
    @include media-breakpoint-down(md) {
      background-image: url("../images/banner_contact_m.jpg");
    }
  }
}
