%bb_text_white {
  color: $white;
}
.bbs {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.bb {
  display: flex;
  height: 54px;
  align-items: center;
  padding: 0 18px;
  white-space: nowrap;
  position: absolute;
  z-index: 5;
  border-radius: 27px;
  transition: all .3s ease;
  visibility: hidden;
  img {
    width: 25px;
    height: auto;
    padding: 9px;
  }
}
.bb_text {
  display: inline-block;
}
.bb_wh {
  background-color: $white;
}
.bb_pk {
  @extend %bb_text_white;
  background-color: $pink;
}

.bb_bl {
  @extend %bb_text_white;
  background-color: $blue;
}
.bb_yl {
  @extend %bb_text_white;
  background-color: $yellow;
}
.bb_sb {
  @extend %bb_text_white;
  background-color: $skyblue;
}
.bb_hp-1 {
  top: 15%;
  left: 18%;
}
.bb_hp-2 {
  top: 65%;
  left: 51%;
  flex-direction: row-reverse;
  @include media-breakpoint-down(md) {
    top: 30%;
    left: 24%;
  }
}
.bb_hp-3 {
  top: 38.5%;
  left: 65.5%;
  @include media-breakpoint-down(md) {
    top: 66.5%;
    left: 10.5%;
  }
}
.bb_hp-4 {
  top: 75%;
  left: 81%;
  @include media-breakpoint-down(md) {
    top: 45%;
    left: 60%;
  }
}
.bb_pr-1 {
  top: 37%;
  left: 38.5%;
  @include media-breakpoint-down(md) {
    top: 46%;
    left: 17.5%;
  }
}
.bb_pr-2 {
  top: 14.5%;
  left: 47%;
  @include media-breakpoint-down(md) {
    top: 14.5%;
    left: 30%;
  }
}
.bb_fe-1 {
  left: 27%;
  top: 26.5%;
  @include media-breakpoint-down(md) {
    top: 8.5%;
    left: 11%;
  }
}
.bb_fe-2 {
  top: 40%;
  left: 65%;
  @include media-breakpoint-down(md) {
    left: 34%;
  }
}
.bb_ps-1 {
  top: 10%;
  left: 24%;
  @include media-breakpoint-down(md) {
    top: 13%;
    left: 2%;
  }
}
.bb_ps-2 {
  top: 23%;
  left: 18%;
  @include media-breakpoint-down(md) {
    top: 2%;
    left: 44%;
  }
}
.bb_ps-3 {
  top: 41%;
  left: 63%;
  @include media-breakpoint-down(md) {
    top: 73%;
    left: 7%;
  }
}
.bb_ps-4 {
  top: 75%;
  left: 75%;
  @include media-breakpoint-down(md) {
    top: 55%;
    left: 65%;
  }
}
.bb_ps-5 {
  top: 66%;
  left: 50%;
  flex-direction: row-reverse;
  @include media-breakpoint-down(md) {
    top: -200%;
    left: 150%;
  }
}
.bb_ps-6 {
  top: 75%;
  left: 28%;
  @include media-breakpoint-down(md) {
    top: 200%;
    left: -150%;
  }
}
.bb_au-1 {
  top: 65%;
  left: 31%;
}
.bb_au-2 {
  top: 14%;
  left: 55%;
}
.bb_co-1 {
  top: 47%;
  left: 33%;
  @include media-breakpoint-down(md) {
    top: 67%;
    left: 5%;
  }
}
.bb_co-2 {
  flex-direction: row-reverse;
  top: 20%;
  left: 60%;
  @include media-breakpoint-down(md) {
    top: 52%;
    left: 27%;
  }
}
