.btn {
  @include media-breakpoint-up(sm) {
    min-width: 190px;
  }
  background-color: inherit;
  display: inline-block;
  //align-items: center;
  //justify-content: center;
  border: 2px solid $blue;
  font-weight: $fw-bold;
  font-size: $fs-small;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  color: $blue;
  height: 46px;
  width: 140px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  svg {
    margin-right: 12px;
    width: 16px;
    height: 16px;
    fill: $blue;
    transition: fill 0.3s ease;
    position: relative;
    top: 3px;
  }
  &:hover {
    color: $white;
    background-color: $blue;
    svg {
      fill: $white;
    }
  }
  &:focus,
  &:active {
    outline-style: none;
  }
  .btn_gr & {
    @include media-breakpoint-up(sm) {
      margin: 0 8px;
    }
  }
}

.btn_gr {
  padding-top: $card-gutter;
}

.btn_huge {
  width: 306px;
}
