.crd_1 {
  background-image: url('../images/zig_zag_phone1.png');
  @media only screen and (min-width: 768px) and (max-width: 1400px) {
    background-size: 35%;
  }

}
.crd_2 {
  background-image: url('../images/zig_zag_person1.png');
  @media only screen and (min-width: 768px) and (max-width: 1400px) {
    background-size: 48%;
  }
}
.crd_3 {
  background-image: url('../images/zig_zag_person2.png');
  @media only screen and (min-width: 768px) and (max-width: 1400px) {
    background-size: 49%;
  }
}
.crd_4 {
  background-image: url('../images/zig_zag_phone2.png');
  @media only screen and (min-width: 768px) and (max-width: 1400px) {
    background-size: 35%;
  }
}
.crd {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    color: $darken;
    padding: $section-gutter $card-gutter;
    height: 470px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 95% 500px;
    transition: background-position 1.75s ease 0s;
  @include media-breakpoint-down(md) {
    background-position: center 16rem;
    background-size: auto 15rem;
    padding: 2rem 2rem 16rem 2rem;
    text-align: center;
    align-items: center;
    height: 600px;
  }
  @include media-breakpoint-down(xs) {
    height: auto;
    &:nth-child(odd) {
      border-bottom: 4px solid $white;
    }
  }
  &:nth-child(odd) {
    @include media-breakpoint-up(sm) {
      border-right: 2px solid $white;
    }
  }
  &:nth-child(even) {
    @include media-breakpoint-up(sm) {
      border-left: 2px solid $white;
    }
  }
  p {
    @include media-breakpoint-up(lg) {
      width: 40%;
      padding-bottom: $card-gutter;
    }
    color: $lead;
    padding-bottom: 1rem;
    white-space: normal;
    width: 75%;
  }
  &.animated {
    background-position: 95% bottom;
    @include media-breakpoint-down(md) {
      background-position: center bottom;
    }
  }
}


.card {
  @include media-breakpoint-up(lg) {
    width: 32%;
    margin: 0 8px 16px 8px;
  }
  @include media-breakpoint-down(xs) {
    width: 80%;
  }
  width: 48%;
  margin: 0 auto 16px;
  box-sizing: border-box;
  background-color: $white;
  text-align: center;
  padding: 50px 0;
  .name {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $fw-semibold;
    color: $black;
  }
  img {
    //margin-bottom: 40px;
    max-width: 75%;
    margin: 0 auto 40px auto;
  }
  p{
    font-size: #{(18/20)}rem;
    color: $gray;
    margin-bottom: 30px;
  }
  figure {
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}
