.fg {
  img {
    padding-bottom: $grid-gutter;
  }
}
.fg_title {
  font-size: $fs_large;
  font-weight: $fw-bold;
  color: inherit;
  padding-bottom: 20px;
}
.fg_text {
  color: $gray;
}
.fg_blue {
  color: $blue;
}
