.contact_form {
  @include media-breakpoint-up(md) {
    max-width: 800px;
  }
  margin: 0 auto;
  width: 95%;
  }

.form-group {
  .form-control:not(textarea) {
    height: 64px;
  }
  .form-control {
    border-radius: 0;
  }
  .was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none;
  }
  position: relative;
  margin-bottom: 15px;
  //label {
  //  transition: all 0.3s ease 0s;
  //}
  label:not(.form-check-label) {
    display: none;
    //position: absolute;
    //font-size: $font-size-base;
    //color: $silver;
    //top: 50%;
    //left: 30px;
    //transform: translateY(-50%);
  }
  textarea ~ label:not(.form-check-label) {
    top: 10%;
    transform: translateY(-10%);
  }
  .invalid-feedback ~ label {
    color: $red;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
  textarea,
  input {
    width: 100%;
    padding: .25rem 30px 0.25rem;
    box-sizing: border-box;
    font-family: $font-family;
    //&::placeholder {
    //  opacity: 0;
    //}
    //&:not(:placeholder-shown),
    //&:focus {
    //  ~ label {
    //    top: 3px;
    //    font-size: $fs-small;
    //    transform: translateY(-2px);
    //  }
    //  background-color: $light;
    //}
  }
  .form-check {
    text-align: left;
    //padding-bottom: $card-gutter;
    input[type="checkbox"] {
      display: none;
      &:checked + label::before {
        background-color: $blue;
      }
    }
    label {
      padding-left: 1.562rem;
      font-size: $fs_small;
      position: relative;
      &::before {
        content: '';
        background: #ffffff url(/images/check.svg) no-repeat;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        border: 1px solid $gray;
      }
    }
    .is-invalid ~ label::before {
      border: 1px solid red;
    }
  }
}
// bootstrap overrides
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-control:focus {
  box-shadow: none;
}
*,
button[type="submit"],
input[type="submit"],
input[type="text"],
input[type="email"],
textarea {
  -webkit-appearance: none;
}
