.sticky-menu {
  @include media-breakpoint-up(lg) {
    padding: 0 3rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-sizing: border-box;
  box-shadow: 0 3px 12px -6px rgba(0,0,0,0.3);
  z-index: 10;
  height: 61px;
  padding: 0 1rem;
}
.nav {
  @include media-breakpoint-up(md) {
    display: flex;
  }
  display: none;
}
.nav-item {
  @include media-breakpoint-up(lg) {
    padding: 0 1.2rem;
  }
  padding: 0 0.5rem;
  white-space: nowrap;
  .lang & {
    padding: 0 0.5rem;
    &.active {
      a {
        color: $black;
        border-bottom-color: transparent;
      }
    }
  }
  a {
    font-size: $fs-small;
    color: $silver;
    text-decoration: none;
    padding: 1rem 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $black;
    }
  }
  &.active a {
    border-bottom-color: $black;
  }
}

.ft_nav {
  a {
    @include media-breakpoint-up(md) {
      padding: 0 35px;
    }
    padding: 5px 7px;
    opacity: 0.3;
    transition: all 0.3s ease;
    display: inline-block;
    &:hover {
      opacity: 1;
    }
  }
}


$navigation__transition: transform 0.5s ease-in-out;

.burger-check:checked ~ .navigation {
  transition: $navigation__transition;
  transform: translate(0,0);
}

.navigation {
  z-index: 3;
  top: 0;
  transition: $navigation__transition;
  width: 100%;
  background-color: $black;
  color: $white;
  position: fixed;
  left: 0;
  height: 100%;
  transform: translate(100vw,0);
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-end;
}

.nav-mobile {
  &:not(.lang) {
    overflow: auto;
  }
  padding-top: 70px;
  padding-right: 30px;
  text-align: right;
  &.lang {
    display: flex;
  }
  .nav-item {
    color: $silver;
    &.active {
      a {
        color: $white;
      }
    }
    a {
      font-size: 30px;
    }
  }
}
.nav_footer {
  a {
    &:first-child {
      padding-right: 30px;
    }
  }
}

