%foo {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}
%bar {
  background-color: rgba($blue, 0.5);
  content: '';
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;
  width: 10000px;
  z-index: -1;
}


.table-wrapper {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  margin: 0 auto 45px;
  th,td {
    vertical-align: baseline;
  }
}

tbody {
  tr {
    background-color: $light;
    .true {
      fill: $true;
    }
    .false {
      fill: $false;
    }
    &:hover {
      background-color: $blue;
      th {
        background-color: $blue;
        color: $white
      }
      td {
        color: $white;
        .true {
          fill: $white;
        }
        .false {
          fill: rgba($white, 20%);
        }
      }
    }
  }
  th {
    background-color: $white;
    padding: 10px 40px 10px 10px;
    text-align: left;
    white-space: nowrap;
    border: 2px solid $white;
    font-size: $fs-medium;
    @include media-breakpoint-down(md) {
      font-size: $fs;
      padding: 10px 10px 10px 10px;
    }
  }
  td {
    text-align: center;
    border: 2px solid $white;
    font-size: #{(16/20)}rem;
  }
}

thead {
  th {
    padding: 0 25px 60px;
  }
}
