.video-wrapper {
  max-width: 800px;
  padding: $card-gutter 0;
  margin: 0 auto;
}
.video_block {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
