//.zz_1 {
//  background-image: url('../images/ps_zig-zag1.png');
//}
//.zz_2 {
//  background-image: url('../images/ps_zig-zag2.png');
//}
//.zz_3 {
//  background-image: url('../images/ps_zig-zag3.png');
//}
.zig-zag {
  @include media-breakpoint-up(sm) {
    align-items: center;
    padding: 30px $section-gutter 0;
    flex-direction: row;
    justify-content: space-between;
  }
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 30px 30px 0;
  &.even {
    @include media-breakpoint-up(sm) {
    }
  }
  &.odd {
    @include media-breakpoint-up(sm) {
      flex-direction: row-reverse;
    }
  }
  .art {
    @include media-breakpoint-up(sm) {
      padding: 0 15px;
      width: 50%;
      text-align: left;
    }
    text-align: center;
    width: 100%;
    padding: 0 0 30px;
  }
  &.even {
    .img {
      @include media-breakpoint-up(sm) {
        text-align: right;
      }
    }
  }
  .img {
    @include media-breakpoint-up(sm) {
      width: 50%;
      align-self: flex-end;
      text-align: left;
    }
    text-align: center;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}
