{% extends 'base.html.twig' %}
{% block bd_selector %}_au{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {text: 'bubble_au_1'|trans,
        img: '',
        selector: 'bb_wh bb_au-1 fadeInUp',
        duration: '1s',
        delay: '1s',
    },
    1: {text: 'bubble_au_2'|trans,
        img: '',
        selector: 'bb_bl bb_au-2 fadeInUp',
        duration: '1s',
        delay: '0s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', {
        image: asset('images/banner_about.jpg'),
        alt: 'about_us'|trans,
        items: bubbles,
        custom: 0,
    })
    }}
<section class="section s_white">
    <h1 class="s_title wow fadeInUp">{{ 'aboutpage.page_title'|trans }}</h1>
    <p class="wrapper wow fadeInUp _perex" data-wow-delay="0.5s">
        {{ 'aboutpage.page_desc'|trans }}
    </p>
</section>
<div class="s_light">
    <div class="wrapper flex fx-stretch fx-center">
        <div class="card wow fadeInUp">
            <figure>
                <img src="{{ asset('images/Igor.png') }}" alt="{{ 'IGOR MOCHNACKY' }}" />
                <figcaption>
                    <h2 class="name">{{ 'IGOR MOCHNACKY' }}</h2>
                    <p>{{ 'aboutpage.position_1'|trans }}</p>
                    <a href="mailto:igor@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>
                </figcaption>
            </figure>
        </div>
        <div class="card wow fadeInUp" data-wow-delay="0.25s">
            <figure>
                <img src="{{ asset('images/Silvia.png') }}" alt="{{ 'SILVIA MOCHNACKY' }}" />
                <figcaption>
                    <h2 class="name">{{ 'SILVIA MOCHNACKY' }}</h2>
                    <p>{{ 'aboutpage.position_2'|trans }}</p>
                    <a href="mailto:silvia@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="wrapper flex fx-stretch fx-center">
        <div class="card wow fadeInUp" data-wow-delay="0.5s">
            <figure>
                <img src="{{ asset('images/Roderik.png') }}" alt="{{ 'RODERIK SIDOR' }}" />
                <figcaption>
                    <h2 class="name">{{ 'RODERIK SIDOR' }}</h2>
                    <p>{{ 'aboutpage.position_3'|trans }}</p>
                    <a href="mailto:roderik@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>
                </figcaption>
            </figure>
        </div>
        <div class="card wow fadeInUp">
            <figure>
                <img src="{{ asset('images/Nomuun.png') }}" alt="{{ 'NOMUUN KHALIUN' }}" />
                <figcaption>
                    <h2 class="name">{{ 'NOMUUN KHALIUN' }}</h2>
                    <p>{{ 'aboutpage.position_3'|trans }}</p>
                    <a href="mailto:nomuun@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="wrapper flex fx-stretch fx-center">
{#        <div class="card wow fadeInUp" data-wow-delay="0.5s">#}
{#            <figure>#}
{#                <img src="{{ asset('images/marek.png') }}" alt="{{ 'Marek Kocan' }}" />#}
{#                <figcaption>#}
{#                    <h2 class="name">{{ 'Marek Kocan' }}</h2>#}
{#                    <p>{{ 'aboutpage.position_5'|trans }}</p>#}
{#                    <a href="mailto:marek@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>#}
{#                </figcaption>#}
{#            </figure>#}
{#        </div>#}
        <div class="card wow fadeInUp" data-wow-delay="0.25s">
            <figure>
                <img src="{{ asset('images/Maros-Oros_270-x-380.png') }}" alt="{{ 'MARIAN OROS' }}" />
                <figcaption>
                    <h2 class="name">{{ 'MARIAN OROS' }}</h2>
                    <p>{{ 'aboutpage.position_4'|trans }}</p>
                    <a href="mailto:hello@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_me'|trans }}">{{ 'contact_me'|trans }}</a>
                </figcaption>
            </figure>
        </div>
{#        <div class="card wow fadeInUp" data-wow-delay="0.5s">#}
{#            <figure>#}
{#                <img src="{{ asset('images/Depositphotos_208064294_xl-2015.png') }}" alt="{{ 'DEVELOPMENT TEAM' }}" />#}
{#                <figcaption>#}
{#                    <h2 class="name">{{ 'DEVELOPMENT TEAM' }}</h2>#}
{#                    <p>{{ 'aboutpage.position_5'|trans }}</p>#}
{#                    <a href="mailto:support@rocketitsolutions.eu" target="_blank" rel="noreferrer noopener" class="btn" title="{{ 'contact_us'|trans }}">{{ 'contact_us'|trans }}</a>#}
{#                </figcaption>#}
{#            </figure>#}
{#        </div>#}
    </div>
</div>
{% endblock %}
