{% extends 'base.html.twig' %}
{% block bd_selector %}_cnt{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {text: 'bubble_co_1'|trans,
        img: asset('images/bubble_cont.png'),
        selector: 'bb_wh bb_co-1 fadeInUp',
        duration: '0.75s',
        delay: '1s',

    },
    1: {text: 'bubble_co_2'|trans,
        img: asset('images/bubble_feat2.png'),
        selector: 'bb_sb bb_co-2 fadeInUp',
        duration: '0.75s',
        delay: '0s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', {
        image: asset('images/banner_contact.jpg'),
        alt: 'Conatct', custom: 0, items: bubbles })
    }}
    <section class="section s_white">
        <h1 class="s_title wow fadeInUp">{{ 'contactpage.page_title'|trans }}</h1>
        <p class="p_bot wow fadeInUp _perex" data-wow-delay="0.25s">{{ 'contactpage.page_desc'|trans }}</p>
        <div class="wrapper">
            <div class="contact_form wow fadeInUp" data-wow-delay="0.5s">
                {{ form_start(contact_form_captcha, {'attr': {'id': 'contact_form', 'action': '?', 'class': 'recaptcha-form', 'novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_errors(contact_form_captcha.fullname) }}
                    {{ form_widget(contact_form_captcha.fullname) }}
                    {{ form_label(contact_form_captcha.fullname) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contact_form_captcha.email) }}
                    {{ form_widget(contact_form_captcha.email) }}
                    {{ form_label(contact_form_captcha.email) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contact_form_captcha.companyname) }}
                    {{ form_widget(contact_form_captcha.companyname) }}
                    {{ form_label(contact_form_captcha.companyname) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contact_form_captcha.message) }}
                    {{ form_widget(contact_form_captcha.message) }}
                    {{ form_label(contact_form_captcha.message) }}
                </div>
                <div class="form-group">
                    <div class="form-check ">
                        <input type="checkbox" id="{{ contact_form_captcha.agreement.vars.id }}" name="{{ contact_form_captcha.agreement.vars.full_name }}" required="required" class="form-check-input {%- if contact_form_captcha.agreement.vars.errors|length > 0 -%}{{ ' is-invalid' }} {%- endif -%}" value="1">
                        <label for="{{ contact_form_captcha.agreement.vars.id }}" class="form-check-label required">
                            {{ 'I agree with'|trans({'%linkTerms%': asset('docs/terms.pdf'), '%linkPrivacy%': asset('docs/Privacy_Policy_EN.pdf')})|raw }}
                        </label>
                    </div>
                </div>
                <div class="form-group ma">
                    {{ form_widget(contact_form_captcha.recaptcha) }}
                    {{ form_label(contact_form_captcha.recaptcha) }}
                </div>
                {% do contact_form_captcha.agreement.setRendered %}
                {{ form_rest(contact_form_captcha) }}
                {{ form_end(contact_form_captcha) }}
            </div>
        </div>
    </section>
    <section class="section s_light">
        <div class="wrapper flex fx_start">
            <div class="g_three address wow fadeInUp">
                <h2 class="adr_title">{{ 'contactpage.address_title1'|trans }}</h2>
                <span class="adr_desc">{{ 'contactpage.address_desc1'|trans }}</span>
                <address>
                    <span>{{ 'Akácos utca 4' }}</span>
                    <span>{{ 'Csomád 2161' }}</span>
                    <span>{{ 'Hungary' }}</span>
                </address>
                <span>{{ '+36 703093864' }}</span>
            </div>
            <div class="g_three address wow fadeInUp" data-wow-delay="0.25s">
                <h2 class="adr_title">{{ 'contactpage.address_title2'|trans }}</h2>
                <span class="adr_desc">{{ 'contactpage.address_desc2'|trans }}</span>
                <address>
                    <span>{{ 'Galandova 1' }}</span>
                    <span>{{ 'Bratislava 811 06' }}</span>
                    <span>{{ 'Slovakia' }}</span>
                </address>
                <span>{{ '+421 919457547' }}</span>
            </div>
            <div class="g_three address wow fadeInUp" data-wow-delay="0.5s">
                <h2 class="adr_title">{{ 'contactpage.address_title3'|trans }}</h2>
                <span class="adr_desc">{{ 'contactpage.address_desc3'|trans }}</span>
                <address>
                    <span>{{ 'contactpage.comming_soon'|trans }}</span>
                </address>
            </div>
        </div>
    </section>
{% endblock %}
