{% extends 'base.html.twig' %}
{% block bd_selector %}_feat{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {
        text: 'bubble_fe_1'|trans,
        img: asset('images/bubble_feat1.png'),
        selector: 'bb_wh bb_fe-1 fadeInUp',
        duration: '1s',
        delay: '1s',
    },
    1: {
        text: 'bubble_fe_2'|trans,
        img: asset('images/bubble_feat2.png'),
        selector: 'bb_pk bb_fe-2 fadeInUp',
        duration: '1s',
        delay: '0s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', {
        image: asset('images/banner_features.jpg'),
        alt: 'features'|trans,
        items: bubbles,
        custom: 0,
    })
    }}
    <section class="section s_white">
        <h1 class="s_title wow fadeInUp">{{ 'featurespage.page_title'|trans }}</h1>
        <p class="wrapper wow fadeInUp _perex" data-wow-delay="0.5s">{{ 'featurespage.page_desc'|trans }}</p>
    </section>
    <div class="wrapper wr_fluid">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th><img src="{{ asset('images/logo_messages.png') }}" alt="{{ 'messages' }}" /></th>
                    <th><img src="{{ asset('images/logo_text_call.png') }}" alt="{{ 'text and call' }}" /></th>
                    <th><img src="{{ asset('images/logo_messenger.png') }}" alt="{{ 'messenger' }}" /></th>
                    <th><img src="{{ asset('images/log_messages_lite.png') }}" alt="{{ 'messages lite' }}" /></th>
{#                    <th><img src="{{ asset('images/logo_messenger_sms.png') }}" alt="{{ 'messenger sms' }}" /></th>#}
                </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>{{ 'featurespage.row_1'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_2'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_3'|trans }}</th>
                        {% for i in 0..3 %}
                        <td>{{ 'in_progress'|trans }}</td>
                        {% endfor %}
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_4'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_5'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_6'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_7'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_8'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_9'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td>{{ 'in_progress'|trans }}</td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_10'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_11'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_12'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_13'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td>{{ 'in_progress'|trans }}</td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_14'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_15'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_16'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_17'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_18'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_19'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_20'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_21'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_22'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_23'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_24'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_25'|trans }}</th>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_26'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_27'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_28'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_29'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                    <tr>
                        <th>{{ 'featurespage.row_30'|trans }}</th>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
                        <td><svg class="true" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>
{#                        <td><svg class="false" width="16" height="16"><circle cx="9" cy="9" r="4.5" fill-rule="evenodd" /></svg></td>#}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
