{% extends 'base.html.twig' %}
{% block bd_selector %}_ps{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {text: 'bubble_ps_1'|trans,
        img: asset('images/bubble_hp1.png'),
        selector: 'bb_wh bb_ps-1 fadeInUp',
        duration: '0.5s',
        delay: '0s',
    },
    1: {text: 'bubble_ps_2'|trans,
        img: asset('images/bubble_part1.png'),
        selector: 'bb_yl bb_ps-2 fadeInUp',
        duration: '0.5s',
        delay: '0.5s',
    },
    2: {text: 'bubble_ps_3'|trans,
        img: asset('images/bubble_hp3.png'),
        selector: 'bb_bl bb_ps-3 fadeInUp',
        duration: '0.5s',
        delay: '1s',
    },
    3: {text: 'bubble_ps_4'|trans,
        img: asset('images/bubble_hp4.png'),
        selector: 'bb_wh bb_ps-4 fadeInUp',
        duration: '0.5s',
        delay: '1.5s',
    },
    4: {text: 'bubble_ps_5'|trans,
        img: asset('images/bubble_hp2.png'),
        selector: 'bb_pk bb_ps-5 fadeInUp',
        duration: '0.5s',
        delay: '2s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', {
        image: asset('images/banner_partnership.jpg'),
        alt: 'partnershippage.page_title'|trans,
        items: bubbles,
        custom: 1,
    })
    }}
<section class="section s_white">
    <h1 class="s_title wow fadeInUp">{{ 'partnershippage.page_title'|trans}}</h1>
    <p class="wrapper wow fadeInUp _perex" data-wow-delay="0.75s">
        {{ 'partnershippage.page_desc'|trans}}
    </p>
</section>

<div class="s_light nop_all">
    <div class="wrapper">
        <div class="zig-zag even zz_1">
            <article class="art">
                <h2 class="fg_title wow fadeInUp">{{ 'partnershippage.zz_title1'|trans}}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.75s">{{ 'partnershippage.zz_desc1'|trans}}</p>
            </article>
            <div class="img wow fadeInUp" data-wow-delay="1.25s">
                <img src="{{ asset('/images/ps_zig-zag1.png') }}" alt="{{ 'partnershippage.zz_title1'|trans}}" />
            </div>
        </div>
    </div>
</div>

<div class="s_white nop_all">
    <div class="wrapper">
        <div class="zig-zag odd zz_2">
            <article class="art">
                <h2 class="fg_title wow fadeInUp">{{ 'partnershippage.zz_title2'|trans}}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.75s">{{ 'partnershippage.zz_desc2'|trans}}</p>
            </article>
            <div class="img wow fadeInUp" data-wow-delay="1.25s">
                <img src="{{ asset('/images/ps_zig-zag2.png') }}" alt="{{ 'partnershippage.zz_title2'|trans}}" />
            </div>
        </div>
    </div>
</div>

<div class="s_light nop_all">
    <div class="wrapper">
        <div class="zig-zag even zz_3">
            <article class="art">
                <h2 class="fg_title wow fadeInUp">{{ 'partnershippage.zz_title3'|trans}}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.75s">{{ 'partnershippage.zz_desc3'|trans}}</p>
            </article>
            <div class="img wow fadeInUp" data-wow-delay="1.25s">
                <img src="{{ asset('/images/ps_zig-zag3.png') }}" alt="{{ 'partnershippage.zz_title3'|trans}}" />
            </div>
        </div>
    </div>
</div>

<section class="section s_white">
    <h1 class="s_title wow fadeInUp">{{ 'partnershippage.cont_title'|trans}}</h1>
    <p class="p_bot wow fadeInUp" data-wow-delay="0.25s">{{ 'partnershippage.cont_desc'|trans}}</p>
    <a href="{{ path('app_contact') }}" title="{{ 'contact_us'|trans}}" class="btn btn_huge wow fadeInUp" data-wow-delay="0.5s">{{ 'contact_us'|trans}}</a>
</section>
{% endblock %}
