{% extends 'base.html.twig' %}
{% block bd_selector %}_prod{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {
        text: 'bubble_pr_1'|trans,
        img: asset('images/bubble_pro1.png'),
        selector: 'bb_wh bb_pr-1 wow fadeInUp',
        duration: '0.75s',
        delay: '0.5s',
    },
    1: {
        text: 'bubble_pr_2'|trans,
        img: asset('images/bubble_pro2.png'),
        selector: 'bb_bl bb_pr-2 wow fadeInUp',
        duration: '0.75s',
        delay: '0s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', {
        image: asset('images/banner_pro.jpg'),
        alt: 'Products',
        items: bubbles,
        custom: 0,
    })
    }}
    <section class="section s_white">
        <h1 class="s_title wow fadeInUp">{{ 'productspage.page_title'|trans }}</h1>
        <p class="wrapper wow fadeInUp _perex" data-wow-delay="0.5s">{{ 'productspage.page_desc'|trans }}</p>
    </section>
    <section class="section s_light">
        <img class="wow fadeInUp" src="{{ asset('images/big_messages.png') }}" alt="{{ 'productspage.product_title1'|trans }}" />
        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title1'|trans }}</h1>
        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc1'|trans }}</p>
        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=messages.messenger.messages', title_google: "Messages - Text Messages, SMS Chat", url_web: 'http://messages-text.com/', title_web: 'Messages'}) }}
        <div class="video-wrapper">
            <div class="video_block">
                <iframe src="https://www.youtube.com/embed/co0w4zTh0g8?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="section s_white">
        <img class="fadeInUp wow" src="{{ asset('images/big_text_call.png') }}" alt="{{ 'productspage.product_title2'|trans }}" />
        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title2'|trans }}</h1>
        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc2'|trans }}</p>
        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=com.sms.messenger', title_google: "Messenger - Text & Call", url_web: 'http://messagescall.com/', title_web: 'Text & Call'}) }}
        <div class="video-wrapper">
            <div class="video_block">
                <iframe src="https://www.youtube.com/embed/bvNJRWj-Xv8?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="section s_light">
        <img class="wow fadeInUp" src="{{ asset('images/big_messenger.png') }}" alt="{{ 'productspage.product_title3'|trans }}" />
        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title3'|trans }}</h1>
        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc3'|trans }}</p>
        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messenger', title_google: "Messenger - Text Messages, Free Messenger for SMS", url_web: 'http://messenger-messenger.com/', title_web: 'Messenger'}) }}
        <div class="video-wrapper">
            <div class="video_block">
                <iframe src="https://www.youtube.com/embed/MN1xfBBWFLU?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="section s_white">
        <img class="wow fadeInUp" src="{{ asset('images/big_messages_lite.png') }}" alt="{{ 'productspage.product_title4'|trans }}" />
        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title4'|trans }}</h1>
        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc4'|trans }}</p>
        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=com.messages.messaging', title_google: "Messages Lite - Text Messages, SMS, MMS", url_web: 'http://messages-lite.com/', title_web: 'Messages Lite'}) }}
        <div class="video-wrapper">
            <div class="video_block">
                <iframe src="https://www.youtube.com/embed/R8upxTOdP3Y?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
{#    <section class="section s_light">#}
{#        <img class="wow fadeInUp" src="{{ asset('images/big_messenger_sms.png') }}" alt="{{ 'productspage.product_title5'|trans }}" />#}
{#        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title5'|trans }}</h1>#}
{#        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc5'|trans }}</p>#}
{#        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=com.sms.messenger', title_google: "Messenger - Text, Messages, Call, SMS Messaging   ", url_web: 'http://messenger-sms.com/', title_web: 'Messenger SMS'}) }}#}
{#        <div class="video-wrapper">#}
{#            <img class="img-responsive" src="{{ asset('images/messenger_sms-img.jpg') }}" alt="{{ 'productspage.product_title5'|trans }}" />#}
{#        </div>#}
{#    </section>#}
{#    <section class="section s_white">#}
{#        <img class="fadeInUp wow" src="{{ asset('images/big_messenger_launcher.png') }}" alt="{{ 'productspage.product_title6'|trans }}" />#}
{#        <h1 class="s_title wow fadeInUp" data-wow-delay="0.25s">{{ 'productspage.product_title6'|trans }}</h1>#}
{#        <p class="wrapper wow fadeInUp" data-wow-delay="0.5s">{{ 'productspage.product_desc6'|trans }}</p>#}
{#        {{ include('componenets/_prod_buttons.html.twig', { url_google: 'https://play.google.com/store/apps/details?id=messages.messenger.messenger', title_google: "Messenger - Social Messenger for Messages Apps", url_web: false}) }}#}
{#        <div class="video-wrapper">#}
{#            <div class="video_block">#}
{#                <iframe width="861" height="484" src="https://www.youtube.com/embed/9Cb2CGeljag?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
