{% extends "base.html.twig" %}
{% block body %}
<section class="section s_white">
    <h1 class="s_title">Terms of Use</h1>
    <article class="wrapper article">
        <h2>Last updated: March 1, 2019</h2>
        <p>These Terms of Use govern your relationship<br/>
            with http://rocketitsolutions.eu website (the "Service") operated by Rocket IT  Solutions kft.
        </p>
        <p>
            Please read these Terms and Usecarefully before using our website. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
        </p>
        <h2>Links To Other Web Sites or services</h2>
        <p>Our Service may contain links to third-party web sites or services that are not
            owned or controlled by Rocket IT Solutions kft.
            Rocket IT Solutions kft. has no control over, and assumes no responsibility
            for, the content, privacy policies, or practices of any third party web sites or
            services. You further acknowledge and agree that Rocket IT Solutions kft.
            shall not be responsible or liable, directly or indirectly, for any damage or loss
            caused or alleged to be caused by or in connection with use of or reliance on
            any such content, goods or services available on or through any such web
            sites or services.
        </p>
        <h2>Disclaimer</h2>
        <p>
            Your use of the Service is at your sole risk. The Service is provided on an "AS
            IS" and "AS AVAILABLE" basis. The Service is provided without warranties of
            any kind, whether express or implied, including, but not limited to, implied
            warranties of merchantability, fitness for a particular purpose, noninfringement or course of performance.
            Rocket IT Solutions kft. its subsidiaries, affiliates, and its licensors do not
            warrant that a) the Service will function uninterrupted, secure or available at
            any particular time or location; b) any errors or defects will be corrected; c) the
            Service is free of viruses or other harmful components; or d) the results of
            using the Service will meet your requirements.
        </p>
        <h2>Changes</h2>
        <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms
            at any time. By continuing to access or use our Service after those revisions
            become effective, you agree to be bound by the revised terms. If you do not
            agree to the new terms, please stop using the Service.
        </p>
        <h2>Contact Us</h2>
        <p>
            If you have any questions about these Terms, please contact us
            by support@rocketitsolutions.eu
        </p>
    </article>
</section>
{% endblock %}
