{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% set bubbles = {
    0: {
        text: 'bubble_hp_1'|trans,
        img: asset('images/bubble_hp1.png'),
        selector: 'bb_wh bb_hp-1 fadeInUp',
        delay: '1.5s',
    },
    1: {
        text: 'bubble_hp_2'|trans,
        img: asset('images/bubble_hp2.png'),
        selector: 'bb_pk bb_hp-2 fadeInUp',
        delay: '0.75s',
    },
    2: {
        text: 'bubble_hp_3'|trans,
        img: asset('images/bubble_hp3.png'),
        selector: 'bb_bl bb_hp-3 fadeInUp',
        delay: '0s',
    },
    3: {
        text: 'bubble_hp_4'|trans,
        img: asset('images/bubble_hp4.png'),
        selector: 'bb_wh bb_hp-4 fadeInUp',
        delay: '2.25s',
    },
} %}
{% block body %}
    {{ include('componenets/_banner.html.twig', { items: bubbles,custom: 0, }) }}
    <section class="section s_white">
        <h1 class="s_title wow fadeInUp">
            {{ 'homepage.page_title'|trans }}
        </h1>
        <div class="wrapper">
            <p class="s_text wow fadeInUp" data-wow-delay="0.75s">
                {{ 'homepage.page_desc'|trans }}
            </p>
        </div>
    </section>

    <section class="section s_light">
        <h1 class="s_title s_hero">
            <span id="counter" class="wow fadeInUp" data-wow-offset="90">30</span>  000 000 +
        </h1>
        <div class="wrapper">
            <p class="s_text wow fadeInUp" data-wow-delay="0.75s">
                {{ 'homepage.hero_desc'|trans }}
            </p>
        </div>
    </section>

    <div class="section s_white">
        <div class="wrapper flex">
            <figure class="fg fg_blue g_three wow fadeInUp">
                <img src="{{ asset('images/user.png') }}" alt="active users" />
                <figcaption class="fg_caption">
                    <h2 class="fg_title">{{ 'homepage.bl_title_1'|trans }}</h2>
                    <p class="fg_text">{{ 'homepage.bl_desc_1'|trans }}</p>
                </figcaption>
            </figure>
            <figure class="fg fg_blue g_three wow fadeInUp" data-wow-delay="0.25s">
                <img src="{{ asset('images/message.png') }}" alt="text messages" />
                <figcaption class="fg_caption">
                    <h2 class="fg_title">{{ 'homepage.bl_title_2'|trans }}</h2>
                    <p class="fg_text">{{ 'homepage.bl_desc_2'|trans }}</p>
                </figcaption>
            </figure>
            <figure class="fg fg_blue g_three wow fadeInUp" data-wow-delay="0.5s">
                <img src="{{ asset('images/language.png') }}" alt="language support" />
                <figcaption class="fg_caption">
                    <h2 class="fg_title">{{ 'homepage.bl_title_3'|trans }}</h2>
                    <p class="fg_text">{{ 'homepage.bl_desc_3'|trans }}</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="s_light nop_all bor_b">
        <div class="wrapper wr_fluid flex">
            <div class="crd crd_1 g_two wow" data-wow-delay="1s" data-wow-offset="90">
                <h2 class="fg_title wow fadeInUp">{{ 'products'|trans }}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.25s">{{ 'homepage.prod_desc_1'|trans }}</p>
                <a class="btn wow fadeInUp" data-wow-delay="0.5s" href="{{ path('app_products') }}" title="{{ 'products'|trans }}">{{ 'show_more'|trans }}</a>
            </div>
            <div class="crd crd_2 g_two wow" data-wow-delay="1.5s" data-wow-offset="90">
                <h2 class="fg_title wow fadeInUp" data-wow-delay="0.5s">{{ 'features'|trans }}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.75s">{{ 'homepage.prod_desc_2'|trans }}</p>
                <a class="btn wow fadeInUp" data-wow-delay="1s" href="{{ path('app_features') }}" title="{{ 'features'|trans }}">{{ 'show_more'|trans }}</a>
            </div>
        </div>
    </div>
    <div class="s_light nop_all">
        <div class="wrapper wr_fluid flex">
            <div class="crd crd_3 g_two wow" data-wow-delay="1s" data-wow-offset="90">
                <h2 class="fg_title wow fadeInUp">{{ 'partnership'|trans }}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.25s">{{ 'homepage.prod_desc_3'|trans }}</p>
                <a class="btn wow fadeInUp" data-wow-delay="0.5s" href="{{ path('app_partnership') }}" title="{{ 'partnership'|trans }}">{{ 'show_more'|trans }}</a>
            </div>
            <div class="crd crd_4 g_two wow"  data-wow-delay="1.5s" data-wow-offset="90">
                <h2 class="fg_title wow fadeInUp" data-wow-delay="0.5s">{{ 'about_us'|trans }}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.75s">{{ 'homepage.prod_desc_4'|trans }}</p>
                <a class="btn wow fadeInUp" data-wow-delay="1s" href="{{ path('app_about') }}" title="{{ 'about_us'|trans }}">{{ 'show_more'|trans }}</a>
            </div>
        </div>
    </div>

    <section class="section s_white">
        <h1 class="s_title wow fadeInUp">{{ 'homepage.contact_title'|trans }}</h1>
        <div class="wrapper">
            <p class="p_bot wow fadeInUp" data-wow-delay="0.375s">{{ 'homepage.contact_desc'|trans }}</p>
            <a class="btn btn_huge wow fadeInUp" data-wow-delay="0.75s" href="{{ path('app_contact') }}" title="{{ 'homepage.contact_title'|trans }}">{{ 'send_message'|trans }}</a>
        </div>
    </section>
{% endblock %}
