// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
$font-family: 'Open Sans', sans-serif;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;
$font-size-lg: 20px;
$font-size-md: 16px;
$fs: 1rem;
$fs-huge: #{(140/20)}rem;
$fs-large: #{(37/20)}rem;
$fs-medium: #{(24/20)}rem;
$fs-small: #{(14/20)}rem;
// typo
$lh: 1.42;
// colors
$red:     #ff0000;

$white: #ffffff;
$light: #f8f8f8;
$silver: #757575;
$lead: #6d7275;
$gray: #5e6468;
$darken: #262626;
$dark: #1e1e1e;
$black: #000000;
$blue: #1583fb;
$success: #28a745;
$pink: #f349c5;
$yellow: #facd47;
$skyblue: #54bcd6;
$true: #717171;
$false: #e0e0e0;
// sizes
$wrapper: 1200px;
$grid-gutter: #{(22/20)}rem;
$card-gutter: #{(50/20)}rem;
$section-gutter: #{(102/20)}rem;

//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//);

$input-box-shadow: none;
$enable-shadows: true;
$input-focus-box-shadow: none;

