html {
  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
  font-size: $font-size-md;
}
body {
  font-family: $font-family;
  font-size: $fs_medium;
  line-height: $lh;
  color: $gray;
  background-color: $white;
}
._perex,
.wrapper {
  @include media-breakpoint-up(xl) {
    width: $wrapper;
  }
  width: 98%;
  margin: 0 auto;

}
.wr_fluid {
  @include media-breakpoint-up(xl) {
    width: 85%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  &.fx_start {
    align-content: flex-start;
  }
  &.fx-stretch {
    align-items: stretch;
  }
  &.fx-center {
    justify-content: center;
  }
}
%g {
  box-sizing: border-box;
}
.g_two {
  @extend %g;
  @include media-breakpoint-up(sm) {
    width: (100 / 2) * 1%;
  }
  width: 100%;
}
.g_three {
  @extend %g;
  @include media-breakpoint-up(sm) {
    width: (100 / 3) * 1%;
    margin-bottom: 0;
  }
  width: 100%;
  margin-bottom: 2rem;
}
// helpers
.nop_all {
  padding: 0 0 0 0 !important;
}
.p_bot {
  padding-bottom: $card-gutter;
}
.bor_b {
  border-bottom: 4px solid $white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: $fs-small;
  //
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
}

.img-responsive {
  max-width: 100%;
  display: inline-block;
}
