.display-desktop {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.display-tablet {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.hide-mobile {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.show-mobile {
  display: none;
  @include media-breakpoint-between(xs,md) {
    display: flex;
  }
}
