%s_padd {
  @include media-breakpoint-up(sm) {
    padding: $section-gutter 0;
  }
  padding: 2rem 1.25rem;
  overflow: hidden;
}
.section {
  text-align: center;
  overflow: hidden;
}
.s_white {
  @extend %s_padd;
  background-color: $white;
}
.s_light {
  @extend %s_padd;
  background-color: $light;
}
.s_dark {
  @extend %s_padd;
  background-color: $dark;
  footer & {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.s_title {
  color: $black;
  font-size: $fs-large;
  font-weight: $fw-bold;
  padding-bottom: $grid-gutter;
  line-height: 1.42;
}
.s_hero {
  @include media-breakpoint-up(sm) {
    font-size: $fs-huge;
  }
  font-size: 3rem;
}
