.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
// bounce entance
//@import "bounceIn";
//@import "bounceInUp";
//@import "bounceInDown";
//@import "bounceInLeft";
//@import "bounceInRight";
// fade entrance
//@import "fadeInDown";
//@import "fadeIn";
//@import "fadeInDownBig";
//@import "fadeInLeft";
//@import "fadeInLeftBig";
//@import "fadeInRight";
//@import "fadeInRightBig";
@import "fadeInUp";
//@import "fadeInUpBig";
