<div class="banner">
    {% if items|length > 0 %}
    <div class="bbs">
        {% for item in items %}
            <div class="bb wow {{ item.selector }}" data-wow-delay="{{ item.delay|default('0s') }}">
                <span class="bb_text">{{ item.text }}</span>
                {% if item.img|length > 0 %}
                <img src="{{ asset(item.img) }}" alt="{{ item.text }}"/>
                {% endif %}
            </div>
        {% endfor %}
        {% if custom == 1 %}
        <div class="bb wow bb_wh bb_ps-6 fadeInUp" data-wow-delay="2.5s" data-wow-duration="0.5s">
            <span class="bb_text">{{ 'bubble_ps_6'|trans }}</span>
            <img src="{{ asset('images/bubble_part3.png') }}" alt="money" />
            <span class="bb_text">{{ 'bubble_ps_7'|trans }}</span>
            <img src="{{ asset('images/bubble_part2.png') }}" alt="popcorn" />
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
