{% set route = app.request.get('_route') %}
{% set local = app.request.get('_locale') %}
<nav class="sticky-menu" role="navigation">
    <a href="{{ path('app_homepage') }}" class="logo">
        <img src="{{ asset('images/logo.svg') }}" alt="rocket logo" width="257" class="brand" />
    </a>
    <ul class="nav display-desktop">
        <li class="nav-item{{ route starts with 'app_products' ? ' active' }}">
            <a href="{{ path('app_products') }}" title="{{ 'products'|trans }}">{{ 'products'|trans }}</a>
        </li>
        <li class="nav-item{{ route starts with 'app_features' ? ' active' }}">
            <a href="{{ path('app_features') }}" title="{{ 'features'|trans }}">{{ 'features'|trans }}</a>
        </li>
        <li class="nav-item{{ route starts with 'app_partnership' ? ' active' }}">
            <a href="{{ path('app_partnership') }}" title="{{ 'partnership'|trans }}">{{ 'partnership'|trans }}</a>
        </li>
        <li class="nav-item{{ route starts with 'app_about' ? ' active' }}">
            <a href="{{ path('app_about') }}" title="{{ 'about_us'|trans }}">{{ 'about_us'|trans }}</a>
        </li>
        <li class="nav-item{{ route starts with 'app_contact' ? ' active' }}">
            <a href="{{ path('app_contact') }}" title="{{ 'contact'|trans }}">{{ 'contact'|trans }}</a>
        </li>
    </ul>
    <ul class="nav lang display-desktop">
        <li class="nav-item{{ local starts with 'en' ? ' active' }}"><a href="{{ path('app_homepage', {'_locale': 'en'}) }}" title="English">{{ 'EN' }}</a></li>
        <li class="nav-item{{ local starts with 'zh' ? ' active' }}"><a href="{{ path('app_homepage', {'_locale': 'zh'}) }}" title="Chinese">{{ '中' }} </a></li>
    </ul>
    <div class="burger-menu display-tablet">
        <input class="burger-check" id="burger-check" type="checkbox">
        <label for="burger-check" class="burger"></label>
        <nav class="navigation">
            <ul class="nav-mobile lang ">
                <li class="nav-item{{ local starts with 'en' ? ' active' }}"><a href="{{ path('app_homepage', {'_locale': 'en'}) }}" title="English">{{ 'EN' }}</a></li>
                <li class="nav-item{{ local starts with 'zh' ? ' active' }}"><a href="{{ path('app_homepage', {'_locale': 'zh'}) }}" title="Chinese">{{ '中' }} </a></li>
            </ul>
            <ul class="nav-mobile">
                <li class="nav-item{{ route starts with 'app_products' ? ' active' }}">
                    <a href="{{ path('app_products') }}" title="{{ 'products'|trans }}">{{ 'products'|trans }}</a>
                </li>
                <li class="nav-item{{ route starts with 'app_features' ? ' active' }}">
                    <a href="{{ path('app_features') }}" title="{{ 'features'|trans }}">{{ 'features'|trans }}</a>
                </li>
                <li class="nav-item{{ route starts with 'app_partnership' ? ' active' }}">
                    <a href="{{ path('app_partnership') }}" title="{{ 'partnership'|trans }}">{{ 'partnership'|trans }}</a>
                </li>
                <li class="nav-item{{ route starts with 'app_about' ? ' active' }}">
                    <a href="{{ path('app_about') }}" title="{{ 'about_us'|trans }}">{{ 'about_us'|trans }}</a>
                </li>
                <li class="nav-item{{ route starts with 'app_contact' ? ' active' }}">
                    <a href="{{ path('app_contact') }}" title="{{ 'contact'|trans }}">{{ 'contact'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

