<footer>
    <div class="section s_dark">
        <div class="wrapper">
            <nav class="ft_nav">
                <a href="https://play.google.com/store/apps/details?id=messages.messenger.messages" target="_blank" rel="noreferrer noopener" title="{{ 'Messages' }}">
                    <img src="{{ asset('images/2b.png') }}" alt="{{ 'Messages' }}"/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.sms.messenger" target="_blank" rel="noreferrer noopener" title="{{ 'Messenger Text & Call' }}">
                    <img src="{{ asset('images/6.png') }}" alt="{{ 'Messenger Text & Call' }}   "/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messenger" target="_blank" rel="noreferrer noopener" title="{{ 'Messenger Messages' }}">
                    <img src="{{ asset('images/4b.png') }}" alt="{{ 'Messenger Messages' }}"/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.messages.messaging" target="_blank" rel="noreferrer noopener" title="{{ 'Messages Lite' }}">
                    <img src="{{ asset('images/3.png') }}" alt="{{ 'Messages Lite' }}"/>
                </a>
{#                <a href="https://play.google.com/store/apps/details?id=com.sms.messenger" title="{{ 'Messenger SMS' }}" target="_blank" rel="noreferrer noopener">#}
{#                    <img src="{{ asset('images/5.png') }}" alt="{{ 'Messenger SMS' }}"/>#}
{#                </a>#}
{#                <a href="https://play.google.com/store/apps/details?id=messages.messenger.messenger" title="{{ 'Messenger Launcher' }}" target="_blank" rel="noreferrer noopener">#}
{#                    <img src="{{ asset('images/1b.png') }}" alt="{{ 'Messenger Launcher' }}"/>#}
{#                </a>#}
            </nav>
        </div>
    </div>
    <div class="wr_fluid wrapper">
        <div class="footer">
            <p>&copy; {{ "now"|date('Y') }}  Rocket IT Solutions</p>
            <nav class="nav_footer">
                <a href="{{ asset('docs/Privacy_Policy_EN.pdf') }}" title="{{ 'Privacy Policy' }}" target="_blank" rel="noreferrer noopener" >{{ 'Privacy Policy' }}</a>
                <a href="{{ asset('docs/terms.pdf') }}" target="_blank" rel="noreferrer noopener" title="{{ 'Terms of Use' }}" >{{ 'Terms of Use' }}</a>
            </nav>
        </div>
    </div>
</footer>
