<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Rocket IT Solutions">
        <meta name="description" content="Rocket IT Solutions is a mobile app development company with own VC fund supporting development and subsequent growth of early stage IT startups.">
        <meta property="og:description" content="Rocket IT Solutions is a mobile app development company with own VC fund supporting development and subsequent growth of early stage IT startups.">
        <meta property="og:title" content="Rocket IT Solutions">
        <meta name="twitter:description" content="Rocket IT Solutions is a mobile app development company with own VC fund supporting development and subsequent growth of early stage IT startups.">
        <meta name="twitter:title" content="Rocket IT Solutions">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://www.pdhub.eu/appdev/">
        <meta http-equiv="content-language" content="en">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/apple-touch-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-touch-icon-180x180.png') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/screen.css') }}">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src ="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#1583fb",
                            "text": "#ffffff"
                        },
                        "button": {
                            "background": "#ffffff",
                            "text": "#1583fb"
                        }
                    },
                    "content": {
                        "message": "{{ 'cookies.text'|trans }}",
                        "dismiss": "{{ 'cookies.button'|trans }}",
                        "link": "{{ 'cookies.link'|trans }}",
                        "href": '{{ asset('docs/Cookies_EN.pdf') }}',
                    }
                })});
        </script>
    </head>
    <body class="{% block bd_selector %}_hp{% endblock %}">
        {{ include('componenets/_sticky_nav.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('_footer.html.twig') }}
        {{ include('flash_messages.html.twig') }}
    {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/app.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
